<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="A better understanding of our worlds emessions"
      >
        <span> Carbon Count• </span> A View of our world 
      </a>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Carbon Count• </h1>
        <h3>
          Visualize Carbon footprint of each country and ask question in the chat bot. 
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-examples" data-background-color="black">
      <img class="path" src="assets/img/path1.png" />

      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-6">
            <a [routerLink]="['/landing']">
              <img
                alt="Image"
                class="img-raised"
                src="assets/img/landing-page.png"
              />
            </a>
            <a
              class="btn btn-simple btn-danger btn-round"
              [routerLink]="['/landing']"
            >
              View Landing Page
            </a>
          </div>
          <div class="col-sm-6">
            <a [routerLink]="['/profile']">
              <img
                alt="Image"
                class="img-raised"
                src="assets/img/profile-page.png"
              />
            </a>
            <a
              class="btn btn-simple btn-danger btn-round"
              [routerLink]="['/profile']"
            >
              View Profile Page
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade"
      #myModal="bs-modal"
      id="myModal"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              type="button"
              (click)="myModal.hide()"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
            <h4 class="title title-up">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean. A small river named Duden flows by their
              place and supplies it with the necessary regelialia. It is a
              paradisematic country, in which roasted parts of sentences fly
              into your mouth.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button">Nice Button</button>
            <button
              class="btn btn-danger"
              data-dismiss="modal"
              type="button"
              (click)="myModal.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-mini modal-danger modal-mini"
      #myModal1="bs-modal"
      id="myModal1"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              (click)="myModal1.hide()"
              type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="modal-profile">
              <i class="tim-icons icon-single-02"> </i>
            </div>
          </div>
          <div class="modal-body">
            <p>Always have an access to your profile</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link btn-neutral" type="button">Back</button>
            <button
              class="btn btn-link btn-neutral"
              data-dismiss="modal"
              type="button"
              (click)="myModal1.hide()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-black"
      #myModal2="bs-modal"
      id="myModal2"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              (click)="myModal2.hide()"
              type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Sign in with</h3>
            </div>
          </div>
          <div class="modal-body">
            <div class="btn-wrapper text-center">
              <a
                class="btn btn-neutral btn-icon mr-1"
                href="javascript:void(0)"
              >
                <img src="assets/img/github.svg" />
              </a>
              <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
                <img src="assets/img/google.svg" />
              </a>
            </div>
            <div class="text-center text-muted mb-4 mt-3">
              <small> Or sign in with credentials </small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
              <div class="form-group">
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-key-25"> </i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>
              </div>
              <div class="form-check mt-3">
                <label class="form-check-label">
                  <input
                    checked="checked"
                    class="form-check-input"
                    type="checkbox"
                  />

                  <span class="form-check-sign"> </span> Remember me!
                </label>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" type="button">
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Carbon Count•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">  </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/aarontravass/vthacks-x">
                GitHub
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://live.vthacks.com/">
                VTHacks X
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="https://devpost.com/software/visualization-of-carbon-emission-with-ai-botç">
                Team
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/NdDhanush"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
